<html>
<p id="notice"><%= notice %></p>

<head>
    <title>Ogün Can Kaya</title>
</head>
<body>
    <header id="main_navigation" class="clearfix">
        <a href="#" class="name">Ogün Can Kaya</a>
        <nav>
            <a href="#">Yazılarım</a>
            <a href="#">Projelerim</a>
            <a href="#">İletişim</a>
        </nav>
    </header>
</body>


<br>


</html>